@{
    ViewBag.Title = "NotFoundMvc Sample App";
}
@* ReSharper disable Asp.NotResolved *@
@* Disabled because we want to generate not found routes! *@

<h1>
    NotFoundMvc Sample App <small>MVC5</small>
</h1>

<pre>
<a href="https://www.nuget.org/packages/NotFoundMvc/" target="_blank">https://www.nuget.org/packages/NotFoundMvc/</a>
</pre>

<p>
    The sample application shows how NotFoundMvc handles various 'not found' scenarios.
</p>
<p>
    The following links should return our custom 404 page. (See Views\Shared\NotFound.cshtml)
</p>
<p>
    Non-existent controller action:
    <a href="@Url.Action("bad", "home")">/home/bad</a>
</p>
<p>
    Non-existent controller:
    <a href="@Url.Action("index", "bad")">/bad</a>
</p>
<p>
    Non-existent route:
    <a href="@Url.Content("~/home/index/foo/bar")">/home/index/foo/bar</a>
</p>
<p>
    Legacy DOS names:
    <a href="@Url.Content("~/con")">/con</a>,
    <a href="@Url.Content("~/com1")">/com1</a>,
    <a href="@Url.Content("~/lpt1")">/lpt1</a>,
    <a href="@Url.Content("~/aux")">/aux</a>,
    <a href="@Url.Content("~/prt")">/prt</a>,
    <a href="@Url.Content("~/nul")">/nul</a>
</p>
<p>
    Request filtering hidden segments:
    <a href="@Url.Content("~/bin")">/bin</a>,
    <a href="@Url.Content("~/web.config")">/web.config</a>,
    <a href="@Url.Content("~/app_code")">/app_code</a>,
    <a href="@Url.Content("~/app_globalresources")">/app_globalresources</a>,
    <a href="@Url.Content("~/app_localresources")">/app_localresources</a>,
    <a href="@Url.Content("~/app_webreferences")">/app_webreferences</a>,
    <a href="@Url.Content("~/app_data")">/app_data</a>,
    <a href="@Url.Content("~/app_browsers")">/app_browsers</a>
</p>
<p>
    Paths that exist on disk and shouldn't be served:
    <a href="@Url.Content("~/controllers")">/controllers <b>(403 - by IIS?)</b></a>,
    <a href="@Url.Content("~/content")">/content <b>(403 - by IIS?)</b></a>,
    <a href="@Url.Content("~/global.asax")">/global.asax</a>
</p>
<p>
    MVC views:
    <a href="@Url.Content("~/views")">/views <b>(404 by IIS?)</b></a>,
    <a href="@Url.Content("~/views/home/index.cshtml")">/views/home/index.cshtml <b>(404 by IIS?)</b></a>,
    <a href="@Url.Content("~/views/shared/_layout.cshtml")">/views/shared/_layout.cshtml <b>(404 by IIS?)</b></a>
</p>
<p>
    Code-generated not found page (HttpNotFoundResult):
    <a href="@Url.Action("product", new { id = 1 })">/home/product/1</a>
</p>
<p>
    Action that throws HttpException with 404 status code:
    <a href="@Url.Action("fail", "home")">/home/fail</a>
</p>

<p>
    Activate Glimpse at <a href="@Url.Content("~/glimpse.axd")" target="_blank">/glimpse.axd</a>
</p>

@* ReSharper restore Asp.NotResolved *@
